<div
  id="wallet-modal"
  class="modal animate__animated animate__headShake"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Ví của bạn không đủ</h4>
      </div>
      <div class="modal-body text-center d-flex flex-column">
        <i
          class="bi bi-exclamation-circle-fill text-danger"
          style="font-size: 30px"
        ></i>
        <p class="py-2 my-0 mb-1" style="font-size: 18px"
          >Số tiền trong ví của bạn không đủ <br>để thực hiện thêm cuốc xe.</p>
          <p class="my-0 text-danger" style="font-size: 18px">
            Xin hãy nạp tiền vào ví.</p
        >
      </div>
      <div class="modal-footer">
        <a href="/driver/wallet">
          <button type="button" class="btn btn-primary" id="cancel-search">
           Xem ví
          </button>
        </a>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<script>
  const walletModal = new bootstrap.Modal(
    document.getElementById("wallet-modal"),
    {
      backdrop: "static",
      keyboard: false,
    }
  );

  const getDriverId = () => {
  return new Promise((resolve) => {
    socket.on("SET_ID", (data) => {
      resolve(data);
      });
    });
  };

  (async function init() {

    const driverId = await getDriverId();
    axios
      .post(`http://localhost:3001/wallets/money`, { driverId: driverId })
      .then((res) => res.data)
      .then((data) => {
        if (data < 30000) {
          walletModal.show()
        }
      });
  })()

  
</script>
