<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/driver">
        <button class="btn btn-light" href="#">
          <i class="bi bi-house-fill"></i>
        </button>
      </a>

      <div class="d-flex justify-content-end">
        <button
        class="btn btn-info"
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#information-modal"
      >
        <i class="bi bi-person-circle"></i>
        <%=data.HOTX%> <%=data.TENTX %>
      </button>
      </div>
    </div>
  </nav>

  <div
    class="modal fade"
    id="information-modal"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            <small class="text-muted" style="font-size: 14px">Tài xế:</small>
            <%=data.HOTX%> <%=data.TENTX%>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <a href="/driver/profile">
          <div class="modal-body">
            <div class="btn btn-large btn-primary w-100">
              Thông tin tài khoản <i class="bi bi-info-circle ms-2"></i>
            </div>
        </a>
          <a href="/driver/history">
            <div class="btn btn-large btn-success w-100 mt-2">
              Lịch sử <i class="bi bi-clock-history ms-2"></i>
            </div>
          </a>
          <a href="/driver/wallet">
            <div class="btn btn-large btn-warning w-100 mt-2">
              Ví tiền <i class="bi bi-wallet ms-2"></i>
            </div>
          </a>
          <a href="/driver/logout">
            <div class="btn btn-large btn-danger w-100 mt-2">
              Đăng xuất <i class="bi bi-door-open ms-2"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>