<div class="nav-bar">
  <i class="fas fa-caret-left fa-fw" onclick="goBack()"></i>
  <div class="title">Ride</div>
  <div class="account"></div>
  <div class="overlay-menu">
    <div>Chi tiết tài khoản</div>
    <div>Đăng xuất</div>
  </div>
</div>

