<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<div id="map"></div>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBluLoQdfItyuLu2se1nOySx_GHg2gdi-A&region=VI&language=vi&callback=initMap&libraries=places&v=weekly"></script>
<script src="/js/map.js"></script>

<!-- AIzaSyDoVvCw_g1WXgtjLzMH4OkNL8yELejjYUs -->

<!-- AIzaSyAUsa1KCpfl-pQxzlKrEl3L93AQx9lyGng          key ít xài-->

<!-- AIzaSyAH3_j_ob8MrAxf1JLeT_m3EUcOclzIsaA -->

<!-- AIzaSyBni75371yti0E3XxS4tm4BnmCRexY3w3w -->