<div class="card mb-3" style="max-width: 540px">
  <div class="card-header">
    <h4 class="card-text">Đã tìm thấy tài xế cho bạn ...</h4>
  </div>

  <div class="row g-0">
    <div class="col-3">
      <div
        class="col-12 d-flex justify-content-center align-items-center"
        style="height: 100%; width: 100%"
      >
        <img
          src="../public/image/road3.jpg"
          alt="..."
          class="img-fluid img-thumbnail"
          style="width: 100px; height: 100px; border-radius: 100%"
        />
      </div>
    </div>
    <div class="col-9">
      <div class="card-body">
        <h5 class="card-title">Lưu Tiến Phát</h5>
        <div class="card-text">HONDA WAVE</div>
        <div class="card-text lead">59X3 - 235825</div>
        <div class="card-text">ĐỎ</div>
        <!-- <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago</small>
            </p> -->
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <div class="btn btn-danger">Huỷ chuyến</div>
  </div>
</div>
