<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="/css/search.css"></link>
    <script src="/js/search.js"></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="map"></div>
    <!-- <button id="button">Send</button> -->
    <div class="search-container">
      <div class="searcher" >
        <div class="input-container">
          <i class="fas fa-dot-circle fa-fw"></i>
          <input
            type="text"
            name="origin"
            id="origin"
            value="Current location"
          />
        </div>
        <div class="input-container">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          <input
          type="text"
          name="destination"
          id="destination"
          placeholder="Where to?" autofocus/>
        </div>
        <div class="search-results hide">
          
        </div>
      </div>
      
      
      <div class="option">
        <div class="add-option">
          <i class="fas fa-home fa-fw"></i>
          Add Home
        </div>
        <div class="add-option">
          <i class="fas fa-briefcase fa-fw"></i>
          Add Work
        </div>
      </div>
      
      <div class="saved-place">
        <i class="far fa-bookmark fa-fw"></i>
        <div>
        <h4>Saved Places</h4>
        <p>Get to your favorite places easily</p>
      </div>
      <i class="fas fa-chevron-right fa-fw"></i>
    </div>
    
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABQUzWcMn3ud6gI0O8QcX_qxYqp4OT6dc&region=VI&language=vi&callback=initMap&libraries=places&v=weekly"></script>
  </body>
</html>
