USE [grab]
GO
/****** Object:  Table [dbo].[DANHSACHCHO]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACHCHO](
	[MACHUYEN] [nvarchar](10) NOT NULL,
	[MAKH] [nvarchar](10) NULL,
	[MATX] [nvarchar](10) NULL,
	[NGAYDATXE] [date] NULL,
	[GIODATXE] [time](7) NULL,
	[DIEMDON] [nvarchar](max) NOT NULL,
	[DIEMDEN] [nvarchar](max) NOT NULL,
	[QUANGDUONG] [float] NOT NULL,
	[TIENCHIETKHAU] [money] NULL,
	[TIEN] [money] NOT NULL,
	[TRANGTHAI] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](10) NOT NULL,
	[HOKH] [nvarchar](20) NULL,
	[TENKH] [nvarchar](20) NULL,
	[GIOITINH] [nchar](3) NULL,
	[SDT] [nchar](10) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [PK__KHACHHANG__603F592CA92DE0C5] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LS_DATXE]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LS_DATXE](
	[MACHUYEN] [nvarchar](10) NOT NULL,
	[MAKH] [nvarchar](10) NOT NULL,
	[MATX] [nvarchar](10) NOT NULL,
	[NGAYDATXE] [date] NULL,
	[GIODATXE] [time](7) NULL,
	[DIEMDON] [nvarchar](max) NOT NULL,
	[DIEMDEN] [nvarchar](max) NOT NULL,
	[QUANGDUONG] [float] NOT NULL,
	[TIENCHIETKHAU] [money] NULL,
	[TIEN] [money] NOT NULL,
 CONSTRAINT [PK__LS_DATXE__7A5DB081A98A9E29] PRIMARY KEY CLUSTERED 
(
	[MACHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LS_GIAODICH]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LS_GIAODICH](
	[MAGIAODICH] [nvarchar](10) NOT NULL,
	[MAVITIEN] [nvarchar](10) NOT NULL,
	[MATX] [nvarchar](10) NOT NULL,
	[NGAYGIAODICH] [date] NULL,
	[GIOGIAODICH] [time](7) NULL,
	[SOTIEN] [money] NULL,
	[SODU] [money] NULL,
	[NOIDUNG] [nvarchar](20) NULL,
 CONSTRAINT [PK_LS_GIAODDICH] PRIMARY KEY CLUSTERED 
(
	[MAGIAODICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[HONV] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SDT] [nvarchar](20) NULL,
 CONSTRAINT [PK__NHANVIEN__603F5114C8AA076F] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MANV] [nvarchar](10) NOT NULL,
	[MATX] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_QUANLY] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MATX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIXE]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIXE](
	[MATX] [nvarchar](10) NOT NULL,
	[HOTX] [nvarchar](50) NULL,
	[TENTX] [nvarchar](50) NOT NULL,
	[NGAYTHAMGIA] [date] NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](max) NOT NULL,
	[CMND] [nvarchar](20) NOT NULL,
	[QUEQUAN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__TAIXE__6023720BC5648B2A] PRIMARY KEY CLUSTERED 
(
	[MATX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TK_KHACHHANG]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TK_KHACHHANG](
	[MAKH] [nvarchar](10) NOT NULL,
	[TENDANGNHAP] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NOT NULL,
	[MAKP] [nvarchar](10) NULL,
 CONSTRAINT [PK_TK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TK_NHANVIEN]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TK_NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[TENDANGNHAP] [nvarchar](max) NULL,
	[MATKHAU] [nvarchar](max) NULL,
 CONSTRAINT [PK_TK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TK_TAIXE]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TK_TAIXE](
	[MATX] [nvarchar](10) NOT NULL,
	[TENDANGNHAP] [nvarchar](50) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[MAKP] [nvarchar](10) NULL,
 CONSTRAINT [PK_TK_TAIXE] PRIMARY KEY CLUSTERED 
(
	[MATX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VI]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VI](
	[MAVITIEN] [nvarchar](10) NOT NULL,
	[MATX] [nvarchar](10) NULL,
	[SOTAIKHOAN] [nvarchar](20) NULL,
	[SOTHE] [nvarchar](50) NULL,
	[TENCHUTHE] [nvarchar](20) NULL,
	[TIEN] [money] NULL,
	[NGANHANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_VI] PRIMARY KEY CLUSTERED 
(
	[MAVITIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XE]    Script Date: 09/08/2021 20:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[MAXE] [nchar](10) NOT NULL,
	[MATX] [nvarchar](10) NOT NULL,
	[TENXE] [nvarchar](50) NOT NULL,
	[HANGXE] [nvarchar](50) NOT NULL,
	[BIENKIEMSOAT] [nvarchar](10) NOT NULL,
	[MAUSAC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_XE] PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOKH], [TENKH], [GIOITINH], [SDT], [DIACHI], [NGAYSINH], [EMAIL]) VALUES (N'2GXRLdMRw', N'Hoàng', N'Liên', N'Nữ ', N'0908164739', N'154/4/20 Nguyễn Phúc Chu', CAST(N'1980-04-08' AS Date), N'luutienphat@gmail.com')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOKH], [TENKH], [GIOITINH], [SDT], [DIACHI], [NGAYSINH], [EMAIL]) VALUES (N'6j8moDIRS', N'Nguyễn', N'Cao', N'Nam', N'0796919429', N'154/4/20 Nguyễn Phúc Chu, P.15, Q. Tân Bình', CAST(N'2000-12-11' AS Date), N'luutienphat@gmail.com')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOKH], [TENKH], [GIOITINH], [SDT], [DIACHI], [NGAYSINH], [EMAIL]) VALUES (N'htmKQFknA', N'Lưu', N'Phát', NULL, N'0796919429', NULL, NULL, N'luutienphat@gmail.com')
GO
INSERT [dbo].[LS_DATXE] ([MACHUYEN], [MAKH], [MATX], [NGAYDATXE], [GIODATXE], [DIEMDON], [DIEMDEN], [QUANGDUONG], [TIENCHIETKHAU], [TIEN]) VALUES (N'_d7HOiM-T', N'2GXRLdMRw', N'tx1', CAST(N'2021-08-06' AS Date), CAST(N'02:08:19.3730000' AS Time), N'154/4/2 Nguyễn Phúc Chu, Phường 15, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam', N'71 Chế Lan Viên, Tây Thạnh, Tân Phú, Thành phố Hồ Chí Minh, Việt Nam', 2.1, 2100.0000, 21000.0000)
INSERT [dbo].[LS_DATXE] ([MACHUYEN], [MAKH], [MATX], [NGAYDATXE], [GIODATXE], [DIEMDON], [DIEMDEN], [QUANGDUONG], [TIENCHIETKHAU], [TIEN]) VALUES (N'39JhkL9RP', N'6j8moDIRS', N'tx1', CAST(N'2021-08-06' AS Date), CAST(N'10:41:11.1560000' AS Time), N'8789/11/1 Nguyễn Sỹ Sách, Phường 15, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam', N'Coop Mart Bình Tân 2, Hương lộ 2, Bình Trị Đông A, Bình Tân, Thành phố Hồ Chí Minh, Việt Nam', 9.3, 9300.0000, 93000.0000)
INSERT [dbo].[LS_DATXE] ([MACHUYEN], [MAKH], [MATX], [NGAYDATXE], [GIODATXE], [DIEMDON], [DIEMDEN], [QUANGDUONG], [TIENCHIETKHAU], [TIEN]) VALUES (N'73mI-mZnO', N'htmKQFknA', N'tx1', CAST(N'2021-08-06' AS Date), CAST(N'13:11:03.2930000' AS Time), N'154/4/2 Nguyễn Phúc Chu, Phường 15, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam', N'Nguyễn Văn Đậu, phường 11, Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam', 8.8, 8800.0000, 88000.0000)
GO
INSERT [dbo].[LS_GIAODICH] ([MAGIAODICH], [MAVITIEN], [MATX], [NGAYGIAODICH], [GIOGIAODICH], [SOTIEN], [SODU], [NOIDUNG]) VALUES (N'08yMbVjrs', N'vt4', N'tx4', CAST(N'2021-06-13' AS Date), CAST(N'22:25:28.9333333' AS Time), 4200.0000, 487400.0000, N'CHIET KHAU')
INSERT [dbo].[LS_GIAODICH] ([MAGIAODICH], [MAVITIEN], [MATX], [NGAYGIAODICH], [GIOGIAODICH], [SOTIEN], [SODU], [NOIDUNG]) VALUES (N'0rqEcwk8S', N'vt1', N'tx1', CAST(N'2021-08-05' AS Date), CAST(N'23:21:09.0900000' AS Time), 11600.0000, 260500.0000, N'CHIET KHAU')
INSERT [dbo].[LS_GIAODICH] ([MAGIAODICH], [MAVITIEN], [MATX], [NGAYGIAODICH], [GIOGIAODICH], [SOTIEN], [SODU], [NOIDUNG]) VALUES (N'3KT-ec6P5', N'vt1', N'tx1', CAST(N'2021-08-06' AS Date), CAST(N'03:55:39.2433333' AS Time), 5000.0000, 188400.0000, N'CHUYEN TIEN')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [NGAYSINH], [EMAIL], [SDT]) VALUES (N'_IULeIzXu', N'Trần Văn', N'B', CAST(N'1998-12-31' AS Date), N'tranvanb@gmail.com', N'090773134')
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [NGAYSINH], [EMAIL], [SDT]) VALUES (N'0NFLcv6Yh', N'Phạm', N'Đại', CAST(N'1997-01-01' AS Date), N'phamdai@gmail.com', N'0794414444')
INSERT [dbo].[NHANVIEN] ([MANV], [HONV], [TENNV], [NGAYSINH], [EMAIL], [SDT]) VALUES (N'3F9znUJ11', N'Nguyễn Văn', N'A', CAST(N'1997-07-06' AS Date), N'nguyenvana@gmail.com', N'0941562315')
GO
INSERT [dbo].[QUANLY] ([MANV], [MATX]) VALUES (N'nv1', N'tx1')
INSERT [dbo].[QUANLY] ([MANV], [MATX]) VALUES (N'nv1', N'tx2')
INSERT [dbo].[QUANLY] ([MANV], [MATX]) VALUES (N'nv1', N'tx3')
GO
INSERT [dbo].[TAIXE] ([MATX], [HOTX], [TENTX], [NGAYTHAMGIA], [SDT], [GIOITINH], [NGAYSINH], [EMAIL], [DIACHI], [CMND], [QUEQUAN]) VALUES (N'c4C9a_nw_', N'Trương', N'Thành', CAST(N'2021-08-06' AS Date), N'0987314552', N'Nam', CAST(N'1998-05-04' AS Date), N'truongthanh@gmail.com', N'154/4/20 Nguyễn Phúc Chu, P.15, Q.Tân Bình', N'014728244', N'Tỉnh Lào Cai')
INSERT [dbo].[TAIXE] ([MATX], [HOTX], [TENTX], [NGAYTHAMGIA], [SDT], [GIOITINH], [NGAYSINH], [EMAIL], [DIACHI], [CMND], [QUEQUAN]) VALUES (N'epKOWlJKE', N'Hoàng', N'Hà', CAST(N'2021-08-06' AS Date), N'0981374765', N'Nữ', CAST(N'1998-05-04' AS Date), N'hoangnam@gmail.com', N'154/4/20 Nguyễn Phúc Chu, P.15, Q.Tân Bình', N'019334814', N'Tỉnh Thái Nguyên')
INSERT [dbo].[TAIXE] ([MATX], [HOTX], [TENTX], [NGAYTHAMGIA], [SDT], [GIOITINH], [NGAYSINH], [EMAIL], [DIACHI], [CMND], [QUEQUAN]) VALUES (N'MhRY41p1Y', N'Trần Văn', N'B', CAST(N'2021-08-09' AS Date), N'0908164452', N'Nam', CAST(N'1994-05-13' AS Date), N'tranvanb@gmail.com', N'242/16 S1', N'246924752', N'Thành phố Hồ Chí Minh')
GO
INSERT [dbo].[TK_KHACHHANG] ([MAKH], [TENDANGNHAP], [MATKHAU], [MAKP]) VALUES (N'2GXRLdMRw', N'HoangLien', N'3097442aad0c83cecab3fdc2f625f138', NULL)
INSERT [dbo].[TK_KHACHHANG] ([MAKH], [TENDANGNHAP], [MATKHAU], [MAKP]) VALUES (N'6j8moDIRS', N'NguyenCao', N'3097442aad0c83cecab3fdc2f625f138', NULL)
INSERT [dbo].[TK_KHACHHANG] ([MAKH], [TENDANGNHAP], [MATKHAU], [MAKP]) VALUES (N'htmKQFknA', N'luutienphat', N'3097442aad0c83cecab3fdc2f625f138', NULL)
GO
INSERT [dbo].[TK_NHANVIEN] ([MANV], [TENDANGNHAP], [MATKHAU]) VALUES (N'_IULeIzXu', N'tranvanb', N'3097442aad0c83cecab3fdc2f625f138')
INSERT [dbo].[TK_NHANVIEN] ([MANV], [TENDANGNHAP], [MATKHAU]) VALUES (N'0NFLcv6Yh', N'PhamDai', N'3097442aad0c83cecab3fdc2f625f138')
INSERT [dbo].[TK_NHANVIEN] ([MANV], [TENDANGNHAP], [MATKHAU]) VALUES (N'3F9znUJ11', N'nguyenvana', N'3097442aad0c83cecab3fdc2f625f138')
GO
INSERT [dbo].[TK_TAIXE] ([MATX], [TENDANGNHAP], [MATKHAU], [MAKP]) VALUES (N'c4C9a_nw_', N'TruongThanh', N'3097442aad0c83cecab3fdc2f625f138', NULL)
INSERT [dbo].[TK_TAIXE] ([MATX], [TENDANGNHAP], [MATKHAU], [MAKP]) VALUES (N'epKOWlJKE', N'HoangHa', N'3097442aad0c83cecab3fdc2f625f138', NULL)
INSERT [dbo].[TK_TAIXE] ([MATX], [TENDANGNHAP], [MATKHAU], [MAKP]) VALUES (N'MhRY41p1Y', N'tranvanb', N'3097442aad0c83cecab3fdc2f625f138', NULL)
GO
INSERT [dbo].[VI] ([MAVITIEN], [MATX], [SOTAIKHOAN], [SOTHE], [TENCHUTHE], [TIEN], [NGANHANG]) VALUES (N'1C75vt93K4', N'MhRY41p1Y', N'10643588377', N'970415051881563', N'TRAN VAN B', 100000.0000, N'Vietinbank')
INSERT [dbo].[VI] ([MAVITIEN], [MATX], [SOTAIKHOAN], [SOTHE], [TENCHUTHE], [TIEN], [NGANHANG]) VALUES (N'euqrynd', N'epKOWlJKE', N'102840769999', N'102840769999', N'HOANG HA', 100000.0000, N'Vietinbank')
INSERT [dbo].[VI] ([MAVITIEN], [MATX], [SOTAIKHOAN], [SOTHE], [TENCHUTHE], [TIEN], [NGANHANG]) VALUES (N'q658Ihh39l', N'c4C9a_nw_', N'10060296592', N'102840769999', N'TRUONG THANH', 100000.0000, N'Vietinbank')
GO
INSERT [dbo].[XE] ([MAXE], [MATX], [TENXE], [HANGXE], [BIENKIEMSOAT], [MAUSAC]) VALUES (N'dtKa01BAgs', N'c4C9a_nw_', N'AIRBLADE', N'HONDA', N'59P2-62455', N'TRẮNG')
INSERT [dbo].[XE] ([MAXE], [MATX], [TENXE], [HANGXE], [BIENKIEMSOAT], [MAUSAC]) VALUES (N'fs3PvtNLRc', N'epKOWlJKE', N'FUTURE', N'HONDA', N'59Y2-61733', N'ĐỎ')
INSERT [dbo].[XE] ([MAXE], [MATX], [TENXE], [HANGXE], [BIENKIEMSOAT], [MAUSAC]) VALUES (N'ND2CPBCEnl', N'MhRY41p1Y', N'WAVE', N'HONDA', N'59C2-19844', N'XANH')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TAIKHOAN]    Script Date: 09/08/2021 20:27:09 ******/
ALTER TABLE [dbo].[TK_TAIXE] ADD  CONSTRAINT [IX_TAIKHOAN] UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_VI]    Script Date: 09/08/2021 20:27:09 ******/
ALTER TABLE [dbo].[VI] ADD  CONSTRAINT [IX_VI] UNIQUE NONCLUSTERED 
(
	[MATX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_XE]    Script Date: 09/08/2021 20:27:09 ******/
ALTER TABLE [dbo].[XE] ADD  CONSTRAINT [IX_XE] UNIQUE NONCLUSTERED 
(
	[MATX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LS_DATXE]  WITH CHECK ADD  CONSTRAINT [FK_LS_DATXE_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[LS_DATXE] CHECK CONSTRAINT [FK_LS_DATXE_KHACHHANG]
GO
ALTER TABLE [dbo].[LS_DATXE]  WITH CHECK ADD  CONSTRAINT [FK_LS_DATXE_TAIXE] FOREIGN KEY([MATX])
REFERENCES [dbo].[TAIXE] ([MATX])
GO
ALTER TABLE [dbo].[LS_DATXE] CHECK CONSTRAINT [FK_LS_DATXE_TAIXE]
GO
ALTER TABLE [dbo].[LS_GIAODICH]  WITH CHECK ADD  CONSTRAINT [FK_LS_GIAODDICH_TAIXE] FOREIGN KEY([MATX])
REFERENCES [dbo].[TAIXE] ([MATX])
GO
ALTER TABLE [dbo].[LS_GIAODICH] CHECK CONSTRAINT [FK_LS_GIAODDICH_TAIXE]
GO
ALTER TABLE [dbo].[LS_GIAODICH]  WITH CHECK ADD  CONSTRAINT [FK_LS_GIAODDICH_VI] FOREIGN KEY([MAVITIEN])
REFERENCES [dbo].[VI] ([MAVITIEN])
GO
ALTER TABLE [dbo].[LS_GIAODICH] CHECK CONSTRAINT [FK_LS_GIAODDICH_VI]
GO
ALTER TABLE [dbo].[QUANLY]  WITH CHECK ADD  CONSTRAINT [FK_QUANLY_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[QUANLY] CHECK CONSTRAINT [FK_QUANLY_NHANVIEN]
GO
ALTER TABLE [dbo].[QUANLY]  WITH CHECK ADD  CONSTRAINT [FK_QUANLY_TAIXE] FOREIGN KEY([MATX])
REFERENCES [dbo].[TAIXE] ([MATX])
GO
ALTER TABLE [dbo].[QUANLY] CHECK CONSTRAINT [FK_QUANLY_TAIXE]
GO
ALTER TABLE [dbo].[TK_KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_TK_KHACHHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TK_KHACHHANG] CHECK CONSTRAINT [FK_TK_KHACHHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[TK_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_TK_NHANVIEN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TK_NHANVIEN] CHECK CONSTRAINT [FK_TK_NHANVIEN_NHANVIEN]
GO
ALTER TABLE [dbo].[TK_TAIXE]  WITH CHECK ADD  CONSTRAINT [FK_TK_TAIXE_TAIXE] FOREIGN KEY([MATX])
REFERENCES [dbo].[TAIXE] ([MATX])
GO
ALTER TABLE [dbo].[TK_TAIXE] CHECK CONSTRAINT [FK_TK_TAIXE_TAIXE]
GO
ALTER TABLE [dbo].[VI]  WITH CHECK ADD  CONSTRAINT [FK_VI_TAIXE] FOREIGN KEY([MATX])
REFERENCES [dbo].[TAIXE] ([MATX])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VI] CHECK CONSTRAINT [FK_VI_TAIXE]
GO
ALTER TABLE [dbo].[XE]  WITH CHECK ADD  CONSTRAINT [FK_XE_TAIXE] FOREIGN KEY([MATX])
REFERENCES [dbo].[TAIXE] ([MATX])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XE] CHECK CONSTRAINT [FK_XE_TAIXE]
GO
